header {
  align-items: center;
  background-color: #0E0E0E;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

img {
  /* width: 100%; */
  height: 80px;
}

.title {
  margin-right: 45%;
  color: white;
  /* text-align: center; */
}